name: Build Executable

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Install dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update
          sudo apt-get install -y upx
        fi
    - name: Build executable
      shell: bash
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          pyinstaller --onefile --noconsole --strip --upx-dir=/usr/bin --name unexCorner main.py
        else
          pyinstaller --onefile --noconsole --name unexCorner main.py
        fi
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: executable-${{ matrix.os }}
        path: dist/